<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Reset Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="form-content">
  <ion-item>
    <img src="../../assets/img/reset.png" class="card-img-top" alt="...">
  </ion-item>
  <form class="form" [formGroup]="validations_form">
    <ion-item>
      <ion-label position="floating" color="primary">Email</ion-label>
      <ion-input type="text" formControlName="email"></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.email">
        <div class="error-message"
          *ngIf="validations_form.get('email').hasError(validation.type) && (validations_form.get('email').dirty || validations_form.get('email').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>
    <ion-row>
      <ion-col>
        <ion-button  (click)="onSubmit()" type="submit" color="success" expand="block">Reset Password</ion-button>
      </ion-col>
      <ion-col>
        <ion-button [routerLink]="['/login']" type="submit" color="primary" expand="block">Cancel</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>


